<!DOCTYPE html>
<section class="projects">
  <header
    class="projects__header">
    <h1>Projects</h1>
  </header>

  <article>
    <header>
      <h1>YAML Project</h1>
    </header>

    <p>YAML Ain't Markup Language</p>

    <footer>
      <p>Work in progress</p>
    </footer>
  </article>

  <article>
    <header>
      <h1>Python Project</h1>
    </header>

    <p>Python is whitespace sensitive!</p>

    <footer>
      <p>Work in progress</p>
    </footer>
  </article>

  <footer
    class="projects__footer">
    <p>These are software projects</p>
  </footer>
</section>
