.language {
  border: 1px solid #F0F; }

.language__header {
  border: 1px solid #F0F; }

.language__name {
  border: 1px solid #F0F; }

.language__projects {
  border: 1px solid #F0F; }

.language__project-list {
  border: 1px solid #F0F; }
