.post {
  border: 1px solid #F0F; }

.post__header {
  border: 1px solid #D0D; }

.post__title {
  border: 1px solid #B0B; }

.post__project-link {
  border: 1px solid #909; }

.post__date-created {
  border: 1px solid #707; }

.post__body {
  border: 1px solid #F0F; }

.post__paragaph {
  border: 1px solid #D0D; }
