.project {
  border: 1px solid #0F0; }

.project__header {
  border: 1px solid #0D0; }

.project__name {
  border: 1px solid #0B0; }

.project__address {
  border: 1px solid #090; }

.project__description {
  border: 1px solid #070; }

